.App {
  text-align: center;
  color: #E0D9F6;
  background-color: #21006F;
}
/*-------------------------*/
/*      Header (home)      */
.App-header {
  color:white;
  background-color:white;
  background-image:url(./../public/wallpaper.jpg);
  background-size: 100vw;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content:space-between;
}

.App-header-left {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
}

.App-header-presentation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between ;
}

.App-header-name-job {
  margin-left: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.App-header-features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.App-header-right {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content:flex-end;
}
.button {
  padding:5px;
  border: 1px solid;
  border-radius: 10%;
  color: ivory;
}
/*    End Header (home)    */
/*-------------------------*/
/*      Body  (about)      */
.about-row {
  min-height: 100vh; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/*    End Body  (about)    */
/*-------------------------*/
/*      Body (skills)      */
.skills-row {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/*    End Body (skills)    */
/*--------------------------/
/*      Body (career)      */
.career-row {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.career-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
/*    End Body (career)    */
/*-------------------------*/
/*     Body (projects)     */
.projects {
  min-height: 100vh;
}
.projects-carousel-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.projects-carousel-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/*   End Body (projects)   */
/*-------------------------*/
/*      Body (Why Me)      */
.whyme {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/*    End Body (Why Me)    */
/*-------------------------*/
/*    Body (References)    */
.references {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/*  End Body (References)  */
/*-------------------------*/
/*    Footer  (Contact)    */
.App-footer {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.copyRight {
  background-color: black;
  align-items: flex-end;
}
/*  End Footer  (Contact)  */
.card {
  box-shadow: 0 5px 10px 0 
  rgba(0, 0, 0, 0.2);
  background-color: #6ECBF5;
  background-color: #C252E1;
  background-color: #FE3218;
  border-radius: 10px;
}

img {
  height: 10vh;
}

.Back-logo {
  width: 33vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-columnLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-columnRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-row {
  margin-left: 5vh;
  margin-right: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.App-body {
  background-color: #586AE2;
}

@media screen and (max-width:500px) {
  .flex-row {
    flex-direction: column;
  }
}